/*Structure*/
/*=============================================================================*/

body {
  padding-top: 50px;
   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #6d6d6d;
  
  background: #e7e7e7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#e7e7e7, white, #e7e7e7, #e7e7e7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left,#e7e7e7, white, #e7e7e7, #e7e7e7);      /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,#e7e7e7, white, #e7e7e7, #e7e7e7);    /* For Fx 3.6 to 15 */
  background: linear-gradient(to right, #e7e7e7, white, #e7e7e7, #e7e7e7);    /* Standard syntax */
}

#content {
  min-height: 595px;
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
}

.colorContainer {
    padding: 15px;
    background: cornflowerblue;
    text-shadow: none;
}

.myfooter {
    padding-bottom: 5px;
    width: 100%;
}

.myfooter hr,
.myfooter-fixed hr {
    margin: 0px;
    padding: 5px;
}

/*Typography*/
/*=============================================================================*/
h4, h5 {
    color: #6d6d6d;
    text-align:justify;
}

.colorContainer h3,
.colorContainer h5,
.colorContainer span{
    color: white;
}

.colorContainer h5 {
    padding-top: 10px; 
}

.colorContainer h6 {
    text-align: justify; 
}

/*Bootstrap*/
/*=============================================================================*/
.btn-lg {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 25px;
}

.navbar-brand {
    margin: -3px 0 0 0;
}

.navbar-brand img {
    width: 24px;
    display: inline-block !important;
}

.navbar-brand span {
    color: #2AAED4;
    top: -4px;
    font-size: 18px;
    position: relative;
}

.navbar-nav {
    padding-left: 0px; 
}

.navbar-nav>li {
    padding-left: 0;
}

.navbar-default .navbar-nav>li>a {
    margin: 2px 0 -2px 0;
}

/*Helpers*/
/*=============================================================================*/
.top-padding { 
    padding-top: 10px; 
}

.top-margin { 
    margin-top: 10px; 
}

.pseudolink {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}

.fixed {
    position: fixed;
    bottom: 0px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.red { background: red; }
.green { background: green; }
.blue { background: blue; }

/*Animations*/
/*=============================================================================*/
.anatomy1 {
    border: 1px solid lightgrey;
    float: right;
    width: 250px;
    margin: 0 0 5px 15px;
    -webkit-transition: width 0.15s ease-in-out, margin 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out, margin 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out, margin 0.15s ease-in-out;
    transition: width 0.15s ease-in-out, margin 0.15s ease-in-out;
}

.anatomy1b {
    /*width: 254px;
    margin:-2px -2px 8px 13px;*/
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.anatomy1a {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    width: 100%;
    margin: 0 0 10px 0;
}

.scaleup {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.scaledown {
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.robo1 {
    margin: 15px 15px 0 0;
    float: left;
    width: 140px;
    height: 200px;
    background-image: url("../images/robo1.png");
}

.robo1a {
    background-image: url("../images/robo1.png");
    -webkit-animation: robo1 1s steps(8) infinite;
    -moz-animation: robo1 1s steps(8) infinite;
    -ms-animation: robo1 1s steps(8) infinite;
    -o-animation: robo1 1s steps(8) infinite;
    animation: robo1 1s steps(8) infinite;
}

@-webkit-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@-moz-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@-ms-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@-o-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}

/*Carousel*/
/*=============================================================================*/
.carousel-control { 
    width: 8%;
}
.carousel-control.left,
.carousel-control.right { 
    margin-left: 15px;
    margin-right: 15px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #888;
    background: cornflowerblue;
    line-height: 1;
    padding-top: 1px;
    color: white;
    font-size: 29px !important;
    width: 32px !important;
    height: 32px !important;
}
.carousel-control > a > span:hover {
    font-size: 31px !important;
    width: 34px !important;
    height: 34px !important;
    line-height: 0.95;
    box-shadow: 1px -1px 3px #888;
    background: #487BD4;
}
.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding-right: 10px; 
    padding-left: 10px; 
    float: left; 
 }
 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*Media Queries*/
/*=============================================================================*/
/*xxs*/
@media (min-width: 100px) and (max-width: 479px) {
    .header {padding-top: 10px; padding-bottom: 10px;}
    .carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
    .carousel-col                { width: 100%; }
}

/*xs*/
@media (min-width: 480px) and (max-width: 767px) {
    .header {padding-top: 10px; padding-bottom: 10px;}
    .carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
    .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
    .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left { left: -33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		 { left: -33%; }
    .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
    .carousel-inner .active.left { left: -33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		 { left: -33%; }
    .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
}