html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, 
a, code, em, img, strong, i, ul, li, .header {
	padding: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
}

body {
  padding-top: 50px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 1em;
  line-height: 1.5;
  color: #6d6d6d;
  overflow-x: hidden;
  background: #e7e7e7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#e7e7e7, white, #e7e7e7, #e7e7e7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left,#e7e7e7, white, #e7e7e7, #e7e7e7);      /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,#e7e7e7, white, #e7e7e7, #e7e7e7);    /* For Fx 3.6 to 15 */
  background: linear-gradient(to right, #e7e7e7, white, #e7e7e7, #e7e7e7);    /* Standard syntax */
}

.colorContainer {
    padding: 10px 30px 20px 25px;
    background: cornflowerblue;
    text-shadow: none;
}

.header {
  padding-top: 35px;
  padding-bottom: 25px;
}

.footer {
    padding: 10px; 
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer span {
    position: relative;
    top: 8px;
    margin: 5px;
    color: whitesmoke
}

/*Typography*/
/*=============================================================================*/
h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 44px; 
  font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

h2 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;
}

h3, h4, h5, h6 {
    color: rgba(90,90,90,1);
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #d5000d;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  text-align:justify;
}

h5 {
  font-size: 1em;
  text-align:justify;
}

h6 {
  font-size: .8em;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  font-weight: 300;
}

.colorContainer h3,
.colorContainer h5,
.colorContainer span{
    color: white;
}

.colorContainer h5 {
    padding-top: 10px; 
}

.colorContainer h6 {
    color: #303030;
    text-align: justify; 
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: #d5000d;
  text-decoration: underline;
}

a:hover {
  color: #AD0000;
}

a:focus {
  color: #AD0000;
}

ul li {
  list-style-position: inside;
  list-style: disc;
  margin-left: 20px;
}

code, pre {
  margin-bottom: 30px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  font-size: 14px;
  color: #222;
}

code {
  padding: 0 3px;
  background-color: #f2f2f2;
  border: solid 1px #ddd;
}

pre {
  padding: 20px;
  overflow: auto;
  color: #f2f2f2;
  text-shadow: none;
  background: #303030;
}

pre code {
  padding: 0;
  color: #f2f2f2;
  background-color: #303030;
  border: none;
}

.feature-icon {
    font-size: 40px;
    top: 15px;
    color: white;
    font-weight: normal;
}

.fa-code {
    font-weight: bold;
}

.fa-globe {
    font-size: 47px;
}

/*Social*/
/*=============================================================================*/
.social {
    border-radius: 30px;
    width: 36px;
    height: 36px;
    color: white;
    background: black !important;
    text-shadow: 1px 1px black;
    box-shadow: 0 0 2px white;
    cursor: pointer;
}

.social:hover {
    color: #487BD4;
}

.youtube {
    font-size: 26px !important;
    background: #C91C20;
    padding: 4px 0 0 6px;
}

.facebook {
    position: relative;
    top: 1px;
    font-size: 26px !important;
    background: #3B5998;
    padding: 6px 0 0 9px;
}

.google {
    position: relative;
    top: -1px;
    font-size: 21px !important;
    background: #DB4437;
    padding: 8px 0 0 5px;
}

.vk {
    position: relative;
    font-size: 24px !important;
    background: #325B89;
    padding: 6px 0 0 5px;
}

.twitter {
    position: relative;
    top: 2px;
    font-size: 26px !important;
    background: #2CA1CC;
    padding: 6px 0 0 6px;
}

.chrome {
    position: relative;
    top: 1px;
    font-size: 25px !important;
    background: black;
    padding: 6px 0 0 6px;
}

.steam {
    position: relative;
    top: 1px;
    font-size: 26px !important;
    background: black;
    padding: 6px 0 0 5px;
}

/*Bootstrap*/
/*=============================================================================*/
.btn {
    text-decoration: none;
}

.btn-lg {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 25px;
}

.navbar-brand {
    margin: -3px 0 0 0;
}

.navbar-brand img {
    width: 24px;
    display: inline-block !important;
}

.navbar-brand span {
    color: #2AAED4;
    top: -4px;
    font-size: 18px;
    position: relative;
}

.navbar-nav {
    padding-left: 0px; 
}

.navbar-nav>li {
    top: 15px;
    /*left: 33px;*/
    color: #9d9d9d;
}

.navbar-nav>li:focus {
    color: #9d9d9d !important;
}

.navbar-nav>li:hover {
    color: white !important;
}

.navbar-nav>li>a {
    margin-top: -12px;
    text-decoration: none;
    color: #9d9d9d !important;
}

.navbar-nav>li>a:focus {
    color: #9d9d9d !important;
}

.navbar-nav>li>a:hover {
    color: white !important;
}

/*Helpers*/
/*=============================================================================*/
.top-padding { 
    padding-top: 10px; 
}

.top-margin { 
    margin-top: 10px; 
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-decoration {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}

.no-decoration:focus {
    text-decoration: none;
}

.pseudo-nav-link {
    cursor: pointer;
    margin: 0 15px 0 35px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}

.fixed {
    position: fixed;
    bottom: 0px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    max-width: 800px;
}

.float-right {
    float: right;
}

 .center-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
 }
 .center-wrapper > .centered {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
 }

.red { background: red; }
.green { background: green; }
.blue { background: blue; }

/*Animations*/
/*=============================================================================*/
body:after{ /*preload sprite images to avoid blinking*/
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url("../images/robo1.png") url("../images/soldier.png") url("../images/medic.png") url("../images/girlw.png") url("../images/girld.png");
}

.soldiers-caption {
    margin: 0 0 10px 20px;
}

.girls-caption {
    margin: 5px 0 5px 20px;
}

.play {
    opacity: 0.3;
    font-size: 15px;
}

.robo1a .play,
.girlwa .play,
.girlda .play,
.soldiera .play,
.medica .play {
    display: none;
}

.software-img {
    float: right;
    width: 250px;
    margin: 0 0 0 15px;
}

.anatomy1 {
    width: 100%;
    cursor: pointer;
    border: 1px solid lightgrey;
}

.robo1 {
    margin: 15px 15px 0 0;
    float: left;
    width: 140px;
    height: 200px;
    background-image: url("../images/robo1st.png");
}

.robo1a {
    background-image: url("../images/robo1.png");
    -webkit-animation: robo1 1s steps(8) infinite;
    -moz-animation: robo1 1s steps(8) infinite;
    -ms-animation: robo1 1s steps(8) infinite;
    -o-animation: robo1 1s steps(8) infinite;
    animation: robo1 1s steps(8) infinite;
}

@-webkit-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@-moz-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@-ms-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@-o-keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}
@keyframes robo1 { from { background-position: 0px; } to { background-position: -1120px; }}

.soldier-textures {
    float: right;
    margin: -5px 5px 0 15px;
}

.soldier-medic {
    margin: 0 0 0 15px;
    float: right;
    background: -webkit-radial-gradient(#D0D0D0, #e7e7e7, #e7e7e7); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(#D0D0D0, #e7e7e7, #e7e7e7); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(#D0D0D0, #e7e7e7, #e7e7e7); /* For Firefox 3.6-15 */
    background: radial-gradient(#D0D0D0, #e7e7e7, #e7e7e7); /* Standard syntax */
}

.soldier {
    margin-bottom: 15px;
    width: 140px;
    height: 70px;
    background-image: url("../images/soldier1st.png");
}

.soldiera {
    background-image: url("../images/soldier.png");
    -webkit-animation: soldier 4s steps(30) infinite;
    -moz-animation: soldier 4s steps(30) infinite;
    -ms-animation: soldier 4s steps(30) infinite;
    -o-animation: soldier 4s steps(30) infinite;
    animation: soldier 4s steps(30) infinite;
}

@-webkit-keyframes soldier { from { background-position: 0px; } to { background-position: -4200px; }}
@-moz-keyframes soldier { from { background-position: 0px; } to { background-position: -4200px; }}
@-ms-keyframes soldier { from { background-position: 0px; } to { background-position: -4200px; }}
@-o-keyframes soldier { from { background-position: 0px; } to { background-position: -4200px; }}
@keyframes soldier { from { background-position: 0px; } to { background-position: -4200px; }}

.medic {
    width: 140px;
    height: 78px;
    background-image: url("../images/medic1st.png");
}

.medica {
    background-image: url("../images/medic.png");
    -webkit-animation: medic 3.5s steps(27) infinite;
    -moz-animation: medic 3.5s steps(27) infinite;
    -ms-animation: medic 3.5s steps(27) infinite;
    -o-animation: medic 3.5s steps(27) infinite;
    animation: medic 3.5s steps(27) infinite;
}

@-webkit-keyframes medic { from { background-position: 0px; } to { background-position: -3780px; }}
@-moz-keyframes medic { from { background-position: 0px; } to { background-position: -3780px; }}
@-ms-keyframes medic { from { background-position: 0px; } to { background-position: -3780px; }}
@-o-keyframes medic { from { background-position: 0px; } to { background-position: -3780px; }}
@keyframes medic { from { background-position: 0px; } to { background-position: -3780px; }}

.girlw-textures {
    float: right;
    margin: 0 15px 0 15px;
}

.girlw {
    float: right;
    width: 87px;
    height: 160px;
    background-image: url("../images/girlw1st.png");
}

.girlwa {
    background-image: url("../images/girlw.png");
    -webkit-animation: girlw 1s steps(8) infinite;
    -moz-animation: girlw 1s steps(8) infinite;
    -ms-animation: girlw 1s steps(8) infinite;
    -o-animation: girlw 1s steps(8) infinite;
    animation: girlw 1s steps(8) infinite;
}

@-webkit-keyframes girlw { from { background-position: 0px; } to { background-position: -696px; }}
@-moz-keyframes girlw { from { background-position: 0px; } to { background-position: -696px; }}
@-ms-keyframes girlw { from { background-position: 0px; } to { background-position: -696px; }}
@-o-keyframes girlw { from { background-position: 0px; } to { background-position: -696px; }}
@keyframes girlw { from { background-position: 0px; } to { background-position: -696px; }}

.girld-textures {
    float: right;
    margin: 10px -50px 0 15px;
}

.girld-play {
    position: relative;
    left: 80px;
    top: 10px;
}

.girld {
    position: relative;
    right: -25px;
    float: right;
    width: 193px;
    height: 168px;
    background-image: url("../images/girld1st.png");
}

.carousel-girld {
    margin: auto;
    width: 193px;
    height: 168px;
}

.girlda {
    background-image: url("../images/girld.png");
    -webkit-animation: girld 2.5s steps(35) infinite;
    -moz-animation: girld 2.5s steps(35) infinite;
    -ms-animation: girld 2.5s steps(35) infinite;
    -o-animation: girld 2.5s steps(35) infinite;
    animation: girld 2.5s steps(35) infinite;
}

@-webkit-keyframes girld { from { background-position: 0px; } to { background-position: -6755px; }}
@-moz-keyframes girld { from { background-position: 0px; } to { background-position: -6755px; }}
@-ms-keyframes girld { from { background-position: 0px; } to { background-position: -6755px; }}
@-o-keyframes girld { from { background-position: 0px; } to { background-position: -6755px; }}
@keyframes girld { from { background-position: 0px; } to { background-position: -6755px; }}

.turret {
    margin: auto;
    width: 180px;
    height: 146px;
}

/*.active .turret {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.left .turret,
.right .turret {
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
}*/

.turreta {
    background-image: url("../images/sprites/turret29.png");
    -webkit-animation: turret 3.5s steps(29) infinite;
    -moz-animation: turret 3.5s steps(29) infinite;
    -ms-animation: turret 3.5s steps(29) infinite;
    -o-animation: turret 3.5s steps(29) infinite;
    animation: turret 3.5s steps(29) infinite;
}

@-webkit-keyframes turret { from { background-position: 0px; } to { background-position: -5220px; }}
@-moz-keyframes turret { from { background-position: 0px; } to { background-position: -5220px; }}
@-ms-keyframes turret { from { background-position: 0px; } to { background-position: -5220px; }}
@-o-keyframes turret { from { background-position: 0px; } to { background-position: -5220px; }}
@keyframes turret { from { background-position: 0px; } to { background-position: -5220px; }}

.robo2 {
    margin: auto;
    width: 150px;
    height: 147px;
}

.robo2a {
    background-image: url("../images/sprites/r2sp25.png");
    -webkit-animation: robo2 3.5s steps(25) infinite;
    -moz-animation: robo2 3.5s steps(25) infinite;
    -ms-animation: robo2 3.5s steps(25) infinite;
    -o-animation: robo2 3.5s steps(25) infinite;
    animation: robo2 3.5s steps(25) infinite;
}

@-webkit-keyframes robo2 { from { background-position: 0px; } to { background-position: -3750px; }}
@-moz-keyframes robo2 { from { background-position: 0px; } to { background-position: -3750px; }}
@-ms-keyframes robo2 { from { background-position: 0px; } to { background-position: -3750px; }}
@-o-keyframes robo2 { from { background-position: 0px; } to { background-position: -3750px; }}
@keyframes robo2 { from { background-position: 0px; } to { background-position: -3750px; }}
/*Carousel*/
/*=============================================================================*/
.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #888;
    background: cornflowerblue;
    line-height: 1;
    padding-top: 1px;
    color: white;
    font-size: 29px !important;
    width: 32px !important;
    height: 32px !important;
}
.carousel-control > a > span:hover {
    font-size: 31px !important;
    width: 34px !important;
    height: 34px !important;
    line-height: 0.95;
    box-shadow: 1px -1px 3px #888;
    background: #487BD4;
}
.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
    cursor: pointer;
 }
  .carousel-col img {
    background: rgb(190, 224, 255);
    padding: 2px;
 }
 .carousel-ratio {
    position: relative;
 }
 .carousel-ratio:after { /*keeps aspect ratio*/
    padding-top: 73.7%;
    display: block;
    content: '';
 }
 .carousel-ratio > .carousel-ratio-background {
    background: rgb(190, 224, 255);
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: -2px 0px;
 }
 .active > div { display:none; }
 .active > div:first-child { display:block; }
 
/*Modal*/
/*=============================================================================*/
.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
    font-size: 32px;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.close-modal:hover {
    top: 9px;
    right: 14px;
    font-size: 35px;
}
.close-modal:active {
    top: 10px;
    right: 15px;
    font-size: 32px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

/*Media Queries*/
/*=============================================================================*/
/*xxs*/
@media (min-width: 100px) and (max-width: 479px) {
    .header {padding-top: 10px; padding-bottom: 10px;}
    h1 {font-size: 30px}
    h2 {font-size: 22px}
    .col-xxs-12 { width: 100%; }
    .feature-icon { left: -5px;}
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .active.right { left: 100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
    .carousel-col                { width: 100%; }
    
    /*redefining navbar collapse width*/
    .navbar-header {
        float: none;
        margin: 0 -15px 0 -15px;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: -10px 0 20px 0;
    }
    .navbar-nav>li {
        float: none;
        margin: 10px;
    }
    .navbar-nav>li>a {
        padding: 0px!important;
        margin: 0px!important;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        overflow: hidden;
        margin: 0 -24px 0 -24px;
    }
    .collapsing {
        overflow: hidden!important;
        margin: 0 -24px 0 -24px;
    } 
}

/*xs*/
@media (min-width: 480px) and (max-width: 767px) {
    .header {padding-top: 15px; padding-bottom: 15px;}
    h1 {font-size: 36px}
    .feature-icon { left: -8px;}
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
    .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }

    /*redefining navbar collapse width*/
    .navbar-header {
        float: left;
        margin: 0 -15px 0 -15px; 
    }
    .navbar-toggle {
        display: none; 
    }
    .navbar-collapse {
        display: block !important; 
    }
    .navbar-nav {
        float: left;
        margin: -1px 0 0 0;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
    }
    .navbar-collapse.collapse.in { 
        overflow: hidden;
    }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
    .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .feature-icon { left: 10px;}
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		 { left: -33%; }
    .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
    .feature-icon { left: 10px;}
    .carousel-inner .active.left { left: -33%; }
    .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		 { left: -33%; }
    .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
    .active > div:first-child + div + div { display:block; }
}
